.profile-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.profile-top img {
  margin-bottom: 5px;
  padding: 5px;
  width: 150px;
}

.buttons-container {
  width: 23rem;
}

.profile-container {
  display: flex;
  justify-content: center;
}

.buttons-container > button {
  width: 100%;
}

.developers {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 30px;
}

.developers a {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
}

.developers p {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
}
