.search-container {
  display: flex;
  flex-direction: column;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.selector {
  display: flex;
  padding: 5px;
}
