.search-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.radio-container {
  display: flex;
  margin: 10px 0;
  padding: 10px;
}

.selector {
  display: flex;
  padding: 5px;
}
