.header-container {
  display: flex;
  flex-direction: column;
}

.header-top {
  align-items: center;

  /* background-color: #f8de43; */
  background-color: #ff564d;
  display: flex;
  justify-content: space-around;

}

.header-logo {
  padding: 15px;
  width: 250px;
}

.header-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.purple-filter {
  filter: invert(100%)
    sepia(100%) saturate(29%) hue-rotate(126deg) brightness(107%) contrast(111%);
  width: 35px;
}
