.email-input {
  background: rgba(255, 255, 255, 0.74);
  border: 1px solid #4e4b4b;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 275px;
}

.button-input {
  background-color: #ff564d;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 275px;
}

.button-input[ disabled ] {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}
